@media screen and (max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    font-size: 60%
  }
  .fc-col-header-cell-cushion {
    font-size: 60%
  }
  .fc-daygrid-day-number {
    font-size: 60%
  }
}
