<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<div class="text-base-content">
    <footer class="footer mx-auto max-w-6xl p-4">
        <div>
            <div class="font-title inline-flex text-lg md:text-2xl">
                <span class="lowercase text-first">more</span>
                <span class="lowercase text-secondary">mong</span>
            </div>
            <p class="opacity-50">몰몽은 의미는<br>더 많은(more) 꿈(夢, mong) 입니다.<br>당신의 꿈과 함께 합니다.</p>
        </div>
        <div>
            <span class="footer-title">Thanks to.</span>
            <div class="gap-0">
                <a href="https://www.flaticon.com/free-icons/botanical" title="botanical icons" target="_blank"
                   class="text-xs">Botanical icons created by
                    Fliqqer - Flaticon</a><br>
                <a href="https://www.flaticon.com/free-icons/excavator" title="excavator icons" target="_blank"
                   class="text-xs">Excavator icons created by
                    Icongeek26 - Flaticon</a>
            </div>
        </div>
<!--        <div>-->
<!--            <span class="footer-title">Guides</span>-->
<!--            <a href="/docs/install" class="link link-hover">How-->
<!--                to install</a>-->
<!--            <a href="/docs/use" class="link link-hover">How to use components</a>-->
<!--            <a href="/docs/customize" class="link link-hover">How to customize</a>-->
<!--            <a href="/docs/themes" class="link link-hover">How to use themes</a>-->
<!--            <a href="/docs/colors" class="link link-hover">Color system</a>-->
<!--            <a href="/docs/config" class="link link-hover">Config</a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <span class="footer-title">Links</span>-->
<!--            <a target="_blank" rel="noopener" href="https://github.com/saadeghi/daisyui" class="group link link-hover">Github-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                     class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                    <path fill-rule="evenodd"-->
<!--                          d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--                </svg>-->
<!--            </a>-->
<!--            <a href="/docs/changelog" class="group link link-hover">Changelog</a>-->
<!--            <a target="_blank" rel="noopener" href="https://github.com/saadeghi/daisyui/blob/master/LICENSE"-->
<!--               class="group link link-hover">License-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                     class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                    <path fill-rule="evenodd"-->
<!--                          d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--                </svg>-->
<!--            </a>-->
<!--            <a target="_blank" rel="noopener"-->
<!--               href="https://github.com/saadeghi/daisyui/blob/master/.github/CONTRIBUTING.md"-->
<!--               class="group link link-hover">Contributing-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                     class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                    <path fill-rule="evenodd"-->
<!--                          d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--                </svg>-->
<!--            </a></div>-->
<!--        <div><span class="footer-title">Available on</span> <a target="_blank" rel="noopener"-->
<!--                                                               href="https://www.npmjs.com/package/daisyui"-->
<!--                                                               class="group link link-hover">NPM-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                 class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--            </svg>-->
<!--        </a> <a target="_blank" rel="noopener" href="https://unpkg.com/browse/daisyui/"-->
<!--                class="group link link-hover">Unpkg CDN-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                 class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--            </svg>-->
<!--        </a> <a target="_blank" rel="noopener" href="https://www.jsdelivr.com/package/npm/daisyui"-->
<!--                class="group link link-hover">JSdeliver CDN-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                 class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--            </svg>-->
<!--        </a></div>-->
<!--        <div><span class="footer-title">Try online</span> <a href="/tailwindplay"-->
<!--                                                             class="group link link-hover"-->
<!--                                                             target="_blank" rel="noopener">Tailwind-->
<!--            Play-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                 class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--            </svg>-->
<!--        </a> <a target="_blank" rel="noopener" href="/codepen" class="group link link-hover">Codepen-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"-->
<!--                 class="inline-block w-4 fill-current opacity-0 group-hover:opacity-50">-->
<!--                <path fill-rule="evenodd"-->
<!--                      d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"></path>-->
<!--            </svg>-->
<!--        </a></div>-->
    </footer>
</div>
</html>
