<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
    <meta name="google-site-verification" content="4w77RfpuveCI6I5DYQbgs3q2oHrW3wcMoOffijOXZDs"/>
    <meta name="naver-site-verification" content="ddb45a9ee182e89746d93444b179162103c3e03a"/>
    <meta name="description" content="중장비 업무일지 매출, 지출, 미수금 관리">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
</html>
